.projects {
  padding: 100px 0;
}
.projects img {
  width: 100%;
}
.listed-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.listed-link li {
  padding: 5px 25px;
  border-radius: 5px;
}
.listed-link li:first-of-type {
  background-color: #607d8b;
}
.listed-link li:last-of-type {
  background-color: #009688;
}
.listed-link li a {
  color: #fff;
}
.box {
  background-color: #eceff1;
  height: 100%;
  padding: 10px 25px;
}
