.about{
 padding: 80px 0;
}
.about p{
 line-height: 2;
 word-spacing: 2px;
 color: var(--color-par);
 margin: 5px 0;
}
.education{
 padding: 30px 0;
 height: 260px;
}
.education svg{
 font-size: 40px;
 position: relative;
top: 8px;
left: 30px;
}
.graduation{
 position: relative;
}

.graduation::before{
content: '';
    position: absolute;
    top: 11px;
    left: 0px;
    width: 4px;
    height: 120px;
    background-color: cadetblue;
}
.graduation::after{
    content: '';
    position: absolute;
    top: 0px;
    left: -4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: cadetblue;
}