.home{
 padding: 80px 0;
 line-height: 2.5;
}
.home .list{
 list-style: none;
 display: grid;
 align-items: center;
 height: 100%;
 align-content: center;
 justify-content: center;
}
.list li{
 padding: 8px 0;
}
.list li svg{
 font-size: 25px;
}
.home img{
 max-width: 250px;
 cursor: pointer;
 
}
