.main{
min-height: calc(100vh - 88px);
background-color: #fbfbfe;
color: #161927;
transition: all 0.5s ease-in-out;
}
.main.dark{
 background-color: #161927;
 background-color: #181823;
 color: #fbfbfe;
}